.text {
  position: absolute;
  width: 71px;
  height: 19px;
  left: 315px;
  top: 71px;
  color: #03a9f4;
}

.text:hover {
  text-decoration: underline;
}

.text-line {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 485px;
  top: 71px;
  color: #7d7d7d;
}

.text-line:hover {
  text-decoration: underline;
  text-decoration-color: #03a9f4;
}

.text-title {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 674px;
  top: 71px;
  color: #7d7d7d;
}

.text-title:hover {
  text-decoration: underline;
  text-decoration-color: #03a9f4;
}

.text-style {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 818px;
  top: 71px;
  color: #7d7d7d;
}

.text-style:hover {
  text-decoration: underline;
  text-decoration-color: #03a9f4;
}

.img {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 148px;
  top: 182px;
}

.img-style {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 182px;
}

.text-header {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 148px;
  top: 524px;
  color: #b4ad9e;
}

.text-lime {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 408px;
  height: 40px;
  left: 148px;
  top: 572px;
  color: #626262;
}

.text-header-line {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 652px;
  color: #626262;
}

.text-header-lime {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  width: 64px;
  height: 16px;
  left: 633px;
  top: 524px;
  color: #b4ad9e;
}

.text-header-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 379px;
  height: 40px;
  left: 633px;
  top: 572px;
  color: #626262;
}

.text-imput {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  width: 420px;
  height: 76px;
  left: 633px;
  top: 652px;
  color: #626262;
}

.img-styles {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 147px;
  top: 858px;
}

.text-header-style {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  width: 86px;
  height: 16px;
  left: 148px;
  top: 1170px;
  color: #b4ad9e;
}

.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 225px;
  height: 40px;
  left: 148px;
  top: 1218px;
  color: #626262;
}

.text-css {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 1298px;
  color: #626262;
}

.img-title {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 858px;
}

.photos {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  width: 86px;
  height: 16px;
  left: 633px;
  top: 1170px;
  color: #b4ad9e;
}

.titles {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 324px;
  height: 40px;
  left: 633px;
  top: 1218px;
  color: #626262;
}

.description {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  width: 420px;
  height: 76px;
  left: 633px;
  top: 1298px;
  color: #626262;
}

.photo {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 149px;
  top: 1500px;
}

.title-line {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 149px;
  top: 1812px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
}

.titless {
  position: absolute;
  width: 321px;
  height: 40px;
  left: 149px;
  top: 1860px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #626262;
}

.description-title {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 149px;
  top: 1940px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}

.photoss {
  position: absolute;
  width: 419px;
  height: 280px;
  left: 633px;
  top: 1504px;
}

.link {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  width: 64px;
  height: 16px;
  left: 632px;
  top: 1816px;
  color: #b4ad9e;
}

.text-link {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 226px;
  height: 40px;
  left: 632px;
  top: 1864px;
  color: #626262;
}

.header-link {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 632px;
  top: 1944px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}


.load {
border: 1px solid #626262;
position: absolute;
width: 165px;
height: 60px;
left: 506px;
top: 2110px;
background-image: none; 
background: transparent;
float: left;
background-color: transparent;
}

.load:hover {
    text-decoration: underline;
    text-decoration-color: #03a9f4;
    border-color: #03a9f4;
}

